.welcome-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.welcome-welcome {
  width: 374px;
  height: 812px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(3, 12, 35, 1);
}
.welcome-text {
  gap: 16px;
  top: 86px;
  left: 89px;
  width: 200px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.welcome-text1 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Crimson Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.welcome-text3 {
  color: rgba(161, 155, 196, 1);
  width: 195px;
  height: auto;
  text-align: center;
  line-height: normal;
}
.welcome-group35 {
  top: 247px;
  left: 30px;
  width: 314px;
  height: 450px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.welcome-frame43 {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 450px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.welcome-rectangle16 {
  top: 0px;
  left: 0px;
  width: 314px;
  height: 450px;
  position: absolute;
  border-radius: 30px;
}
.welcome-group24 {
  top: 4px;
  left: -14px;
  width: 358.1000061035156px;
  height: 364.79998779296875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.welcome-group {
  top: 78px;
  left: 0px;
  width: 281px;
  height: 65.07000732421875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.welcome-vector {
  top: 34px;
  left: 0px;
  width: 106px;
  height: 31px;
  opacity: 0.50;
  position: absolute;
}
.welcome-vector01 {
  top: 0px;
  left: 199px;
  width: 82px;
  height: 22px;
  opacity: 0.80;
  position: absolute;
}
.welcome-group1 {
  top: 0px;
  left: 22px;
  width: 294.3999938964844px;
  height: 204.89999389648438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.welcome-vector02 {
  top: 0px;
  left: 33px;
  width: 5px;
  height: 6px;
  position: absolute;
}
.welcome-vector03 {
  top: 41px;
  left: 167px;
  width: 5px;
  height: 6px;
  position: absolute;
}
.welcome-vector04 {
  top: 31px;
  left: 69px;
  width: 5px;
  height: 6px;
  position: absolute;
}
.welcome-vector05 {
  top: 100px;
  left: 289px;
  width: 5px;
  height: 6px;
  position: absolute;
}
.welcome-vector06 {
  top: 159.60000610351562px;
  left: 172.60000610351562px;
  width: 5px;
  height: 6px;
  position: absolute;
}
.welcome-vector07 {
  top: 70px;
  left: 124px;
  width: 14px;
  height: 15px;
  position: absolute;
}
.welcome-vector08 {
  top: 58.69999694824219px;
  left: 0px;
  width: 14px;
  height: 15px;
  position: absolute;
}
.welcome-vector09 {
  top: 0px;
  left: 119px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.welcome-vector10 {
  top: 95px;
  left: 46px;
  width: 9px;
  height: 10px;
  position: absolute;
}
.welcome-vector11 {
  top: 194.89999389648438px;
  left: 86.89999389648438px;
  width: 9px;
  height: 10px;
  position: absolute;
}
.welcome-group2 {
  top: 137.42999267578125px;
  left: 251.79998779296875px;
  width: 106.30001831054688px;
  height: 31.070011138916016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.welcome-vector12 {
  top: 0px;
  left: 0px;
  width: 106px;
  height: 31px;
  opacity: 0.50;
  position: absolute;
}
.welcome-quran {
  top: 186.47622680664062px;
  left: 27px;
  width: 292px;
  height: 178px;
  position: absolute;
}
.welcome-button {
  top: 660px;
  left: 95px;
  width: 185px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.welcome-text5 {
  top: 12px;
  left: 26px;
  color: rgba(59, 30, 119, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Bold;
  text-align: center;
  font-family: Crimson Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  user-select: none;
}
@media(max-width: 479px) {
  .welcome-welcome {
    flex: 1;
    width: 100%;
  }
  .welcome-text {
    top: 173px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .welcome-group35 {
    top: 391px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .welcome-button {
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
}
